doctype html
html(lang="en")
  head
    title Playground
    meta(charset='UTF-8')
    link(href='style.css', type='text/css', rel='stylesheet')
    script(type="application/javascript", src="bower_components/jquery/dist/jquery.min.js")
    script(type="application/javascript", src="script.js")
  body
    h1 Welcome to ray's playground


    .rect